<h1>Display your Pirate here</h1>
<p>Pirate Name: <%= @pirate.name %></p>
<p>Pirate Weight: <%= @pirate.weight %></p>
<p>Pirate Height: <%= @pirate.height %></p>

<h2>Display your first ship here</h2>
<p>Ship Name: <%= @first_ship.name %></p>
<p>Ship Type: <%= @first_ship.type %></p>
<p>Ship Booty: <%= @first_ship.booty %></p>

<h2>Display your second ship here</h2>
<p>Ship Name: <%= @second_ship.name %></p>
<p>Ship Type: <%= @second_ship.type %></p>
<p>Ship Booty: <%= @second_ship.booty %></p>
